.jumbotron {
    background-image:url("lobster2_muted_side.jpg");
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-align: center;
}

.feature{
    text-align: center;
}
.feature .glyphicon {
    font-size: 400%;
}
.feature .glyphicon-leaf {
    color: #7ccc61;
}
.feature .glyphicon-fast-forward {
    color: red;
}
.feature .glyphicon-flash {
    color: yellow;
}
h2 .glyphicon-usd {
    font-size: 150%;
}
.navbar {
    margin-bottom: 0;
    background-color: #990002;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.container-fluid {
    text-align: center;
    color: #990002;
}
.spacer1 {
    margin-top: 100px;
}
.valueh{
    color: #990002;
}